*{
    margin: 0;
    padding: 0;
  }
   
  body{
    display: flex;
    flex-direction: column;
    font-family: "prompt", sans-serif;
  }
   
  .global{
    display: flex;
    min-height: 40vh;

  }
   
  .global > section,
  .global > header,
  .global > footer{
    flex: 0 1 900px;
    // border: 5px groove #3d3d3d;
    padding : 8rem 5rem;
    background-color: rgba(0,0,0,var(--transparence-section));
    z-index: 1;
   

  }
  .global > section{
    min-width: 80%;
    margin-top: 50px;
    align-self: center;
  }

  #entete, #footer {
    min-height: 20vh;
  }
  
  #entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-avant-entete);
    position: relative;
  }
  #accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-avant-accueil);
    

  }
  #evenement{
    background-color: var(--couleur-arriere-evenement);
    color:var(--couleur-avant-evenement);
    
  }
  #galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-avant-galerie);
   
  }
  #footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-avant-footer);
    position: relative;
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

/* EFfett pour le button */
.button-link:hover {
    background-color: darkmagenta; 
}