*{
    margin: 0;
    padding: 0;
  }
   
  body{
    display: flex;
    flex-direction: column;
    font-family: "prompt", sans-serif;
  }
   
  .global{
    display: flex;
    min-height: 40vh;
  }

  .global > header {
    flex: 1;
  }
   
  .global > section,
  .global > header,
  .global > footer{
    flex: 0 1 900px;
    // border: 5px groove #3d3d3d;
    padding : 8rem 5rem;
    background-color: rgba(0,0,0,var(--transparence-section));
    z-index: 1;
   

  }
  .global > section{
    min-width: 80%;
    margin-top: 50px;
    align-self: center;
  }

  #entete, #footer {
    min-height: 20vh;
  }
  
  #entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-avant-entete);
    position: relative;
    min-height: 100vh;
  }
  #accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-avant-accueil);
    

  }
  #evenement{
    background-color: var(--couleur-arriere-evenement);
    color:var(--couleur-avant-evenement);
    
  }
  #galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-avant-galerie);
   
  }
  #footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-avant-footer);
    position: relative;
  }
  
 /*style pour button*/ 
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(120deg, var(--couleur-bouton1), var(--couleur-bouton2));
    color: black; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

/* EFfet pour le button */
.button-link:hover {
  background-image: linear-gradient(120deg, var(--couleur-bouton3), var(--couleur-bouton4))
}
/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
  .global > section,
  .global > header,
  .global > footer {
    padding: 4rem 2rem; /* Adjust padding for smaller screens */
  }

  #entete,
  #footer {
    min-height: 10vh; /* Adjust min-height for smaller screens */
  }

  .button-link {
    margin-top: 10px; /* Adjust margin for smaller screens */
    text-align: center; /* Center text within the button */
    display: block; /* Make the button a block element for centering */
    margin-left: auto;
    margin-right: auto;
  }
}
