* {
  margin : 0;
  padding:0;
}

body{
display : flex;
flex-direction : column;
font-family: "prompt", sans-serif;
}

.global {
  display : flex;
  justify-content: center;
}

section h3{
  margin-bottom: 2rem; 
}

.global > section,
.global > header,
.global > footer {
  flex : 0 1 1100px;
  //border : 1px solid #aaa;
  padding: 3rem 1rem;
  // background-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,var(--transparence-section));
  z-index: 1;
}

.global > .hero{
  flex: 1;
  
}

#entete, #footer {
  min-height: 40vh;
}

#menu__entete {
  position : relative;
  background-color: var(--couleur-arriere-menu);
}

#entete{
  background-color: var(--couleur-arriere-entete);
  color : var(--couleur-entete);
  position: relative;
  min-height: 100vh;

}
#accueil{
  background-color: var(--couleur-arriere-accueil);
  color : var(--couleur-accueil);
}
#evenement{
  background-color: var(--couleur-arriere-evenement);
  color : var(--couleur-evenement);
}
#galerie{
  background-color: var(--couleur-arriere-galerie);
  color : var(--couleur-galerie);

}
#footer{
  background-color: var(--couleur-arriere-footer);
  color : var(--couleur-footer);
  position : relative;

}

 /*style pour button*/ 
 .button-link {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(120deg, var(--couleur-bouton1), var(--couleur-bouton2));
  color: var(--couleur-lien-visited); 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px; 
}

/* EFfet pour le button */
.button-link:hover {
background-image: linear-gradient(120deg, var(--couleur-bouton3), var(--couleur-bouton4))
}

//  @media only screen and (max-width: 600px) {
//   .global > section,
//   .global > header,
//   .global > footer {
//     padding: 2rem 2rem;
//   }

//   #entete,
//   #footer {
//      min-height: 10vh; 
//   }

//   .button-link {
//      margin-top: 5px; 
//     text-align: center; 
//     display: block; 
//     margin-left: auto;
//     margin-right: auto;
//  }
// }