:root{
    // Version 1
    // --couleur-arriere-entete: #6d88ff9a;
    // --couleur-arriere-accueil: #711eb4af;
    // --couleur-arriere-evenement: #ff7272;
    // --couleur-arriere-galerie: #0c5bb4d0;
    // --couleur-arriere-footer: #8affa4;
    
    // // Niveau de transparence des h //
    // --transparence-h1: .5;
        
    // // Niveau de transparence section //
    // --transparence-section: .1;

    // // Variables de couleurs pour les h //
    // --couleur-h4: #333;
    // --couleur-h5: #555;
    // --couleur-h6: #777;

    //////////////////////////////////////////////
    // 2e version

    //Calcul des teintes
    --u1 : 220; //Couleur initiale
    --u2 : calc(var(--u1) + 120); //Couleur complémentaire
    --u3 : calc(var(--u2) - 45); //Couleur analogue gauche
    --u4 : calc(var(--u1) + 45); //Couleur analogue droite
    //La saturation
    --s-arriere : 50%;
    --s-avant : 90%;
     
    //La luminosité
    --l-arriere : 30%;
    --l-avant : 42%;
     
    //Couleur arriere plam background color
    // --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-accueil : hsl(var(--u2), var(--s-arriere), var(--l-arriere)) ;
    // --couleur-arriere-evenement : hsl(var(--u3), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-galerie : hsl(var(--u4), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-footer : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
     
    //couleur avant plan color
    --couleur-avant-entete: hsl(var(--u1), var(--s-avant), var(--l-avant));
    --couleur-avant-accueil: hsl(var(--u2), var(--s-avant), var(--l-avant));
    --couleur-avant-evenement: hsl(var(--u3), var(--s-avant), var(--l-avant));
    --couleur-avant-galerie: hsl(var(--u4), var(--s-avant), var(--l-avant));
    --couleur-avant-footer: hsl(var(--u1), var(--s-avant), var(--l-avant));

    //couleur monochrome
    --couleur-arriere-entete : hsl(var(--u1),100%, 70%);
    --couleur-arriere-accueil : hsl(var(--u1),100%, 75% ) ;
    // --couleur-arriere-evenement : hsl(var(--u1),100%,80%);
    // --couleur-arriere-galerie : hsl(var(--u1),100%,85%);
    --couleur-arriere-footer : hsl(var(--u1),100%, 70%);

    //couleur avant plan couleur monochrome
    --couleur-entete: hsl(var(--u1),100%,15% );
    --couleur-accueil: hsl(var(--u1),100%,20% );
    --couleur-evenement: hsl(var(--u1),100%,25% );
    --couleur-galerie: hsl(var(--u1),100%,30% );
    --couleur-footer: hsl(var(--u1),100%,15%);

    // Pour que la diagonal soit visible
    --couleur-arriere-evenement: var(--couleur-arriere-accueil);
    --couleur-arriere-galerie :  var(--couleur-arriere-evenement);
    

    //couleur monochrome pour bouton
    --couleur-gradient: linear-gradient(120deg, #ffa073, #26fd80);
    --couleur-bouton1: #ffa073;
    --couleur-bouton2: #ff2121;

    --couleur-gradient: linear-gradient(120deg,  #f1ff34, #ff265c8c);
    --couleur-bouton3: #578cff;
    --couleur-bouton4: #e957d0de;

    //couleur liens
    --couleur-lien: #ffa073;
    --couleur-lien-hover: #26fd80;
    --couleur-lien-visited: #f1ff34;
    --focus-outline-color: #ff265c8c;

    //couleur arriere plan carte
    .carte{
        --_couleur-arriere : hsl(var(--u1), 100%, 90%);
    }

}
