:root{
    
    //////////////////////////////////////////////
    // 2e version

    //Calcul des teintes
    --u1 : 220; //Couleur initiale
    --u2 : calc(var(--u1) + 120); //Couleur complémentaire
    --u3 : calc(var(--u2) - 45); //Couleur analogue gauche
    --u4 : calc(var(--u1) + 45); //Couleur analogue droite
    //La saturation
    --s-arriere : 50%;
    --s-avant : 90%;
     
    //La luminosité
    --l-arriere : 30%;
    --l-avant : 20%;
     
    //Couleur arriere plan background color
    // --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-accueil : hsl(var(--u2), var(--s-arriere), var(--l-arriere)) ;
    // --couleur-arriere-evenement : hsl(var(--u3), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-galerie : hsl(var(--u4), var(--s-arriere), var(--l-arriere));
    // --couleur-arriere-footer : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
     
    //couleur avant plan color
    --couleur-avant-entete: hsl(var(--u1), var(--s-avant), var(--l-avant));
    --couleur-avant-accueil: hsl(var(--u2), var(--s-avant), var(--l-avant));
    --couleur-avant-evenement: hsl(var(--u3), var(--s-avant), var(--l-avant));
    --couleur-avant-galerie: hsl(var(--u4), var(--s-avant), var(--l-avant));
    --couleur-avant-footer: hsl(var(--u1), var(--s-avant), var(--l-avant));

    //couleur monochrome
    --couleur-arriere-menu: hsl(var(--u1), 100%, 30% );
    --couleur-arriere-entete : hsl(var(--u1),100%, 70%);
    --couleur-arriere-accueil : hsl(var(--u1),100%, 75% ) ;
    // --couleur-arriere-evenement : hsl(var(--u1),100%,80%);
    // --couleur-arriere-galerie : hsl(var(--u1),100%,85%);
    --couleur-arriere-footer : hsl(var(--u1),100%, 70%);

    //couleur avant plan couleur monochrome
    --couleur-entete: hsl(var(--u1),100%,15% );
    --couleur-accueil: hsl(var(--u1),100%,20% );
    --couleur-evenement: hsl(var(--u1),100%,25% );
    --couleur-galerie: hsl(var(--u1),100%,30% );
    --couleur-footer: hsl(var(--u1),100%,15%);

    // Pour que la diagonal soit visible
    --couleur-arriere-evenement: var(--couleur-arriere-accueil);
    --couleur-arriere-galerie :  var(--couleur-arriere-evenement);
    

    //couleur monochrome pour bouton
    --couleur-gradient: linear-gradient(120deg, #ffa073, #26fd80);
    --couleur-bouton1: #4639ff;
    --couleur-bouton2: #288cff;

    --couleur-gradient: linear-gradient(120deg,  #f1ff34, #ff265c8c);
    --couleur-bouton3: #82c7ff;
    --couleur-bouton4: #3714ffde;

    //couleur liens
    --couleur-lien: #202020;
    --couleur-lien-hover: #ffffff;
    --couleur-lien-visited: #dadada;
    --focus-outline-color: #8bffe6c0;

    //couleur arriere plan carte
    .carte{
        --_couleur-arriere : hsl(var(--u1), 100%, 85%);
    }

    #entete{
        --_couleur-arriere : var(--couleur-arriere-accueil);

    }
    #galerie{
        --_couleur-arriere : var(--couleur-arriere-footer);
    }

}
