.cours {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    font-size: 14px;
}

.carte {
    display: flex;
    flex: 1 0 calc(1000px/4);
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0 10px;
    // justify-content: center;
    // align-items: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--couleur-avant-footer), var(--couleur-avant-accueil));
    border-image-slice: 1;
    transition: transform 0.3s ease-in-out;
    background-color: var(--_couleur-arriere);
}

.carte p {
    margin: 10px 0;
    color: black;
    text-align: start;
}

.carte h3 {
    margin: 0;
    padding: 10px;
    background-color: var(--couleur-avant-entete);
    color: var(--couleur-arriere-accueil);
    font-size: 1.5em;
    text-align: center;
}

h2 {
    margin-bottom: 20px; 
}

.carte:hover {
 
    transform: scale(1.01);
}

.carte h3 {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.carte:hover h3 {
    background-color: var(--couleur-avant-footer);
    color: white;
}


// // Media queries
// @media (max-width: 768px) {
//     .carte {
//         flex: 0 1 calc(50% - 1em); 
//     }
// }

// @media (max-width: 480px) {
//     .cours {
//         justify-content: center;
//     }

//     .carte {
//         flex: 0 1 calc(100% - 1em); 
//         margin-right: 0; 
//     }
// }
