
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.menu {
  transform: translateX(300%);
  transition: transform 0.3s ease-in-out;
  list-style: none;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu-item {
  flex: 1 0 50px;
  text-align: center;
  background-color: var(--couleur-accueil);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.menu-item:hover {
  scale: 1.1;
}

.menu-item a {
  color: #fff;
}

@media (min-width: 700px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    transform: translateX(0);
  }
}


.menu__header {
  overflow-x: hidden;
}

#chk_burger:checked ~ .menu__header .menu {
  transform: translateX(0);
}

#chk_burger {
  display: none;
}


.custom-logo {
  display: block;
  margin: 90px auto; 
  padding-left: 10px;
}

#burger {
  display: none;
}


@media (max-width: 700px) {
  #burger {
    display: block; 
    position: fixed; 
    top: 10px; 
    left: 10px; 
    z-index: 999; 
  }
}


@media (min-width: 700px) {
  .custom-logo {
    display: block;
    margin: 0 auto; 
  }
}