/*style pour le button test*/

button{
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
    padding: 12px 24px;
    background-image: linear-gradient(120deg, var(--couleur-bouton1), var(--couleur-bouton2));
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color :azure;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
button:hover{
    background-image: linear-gradient(120deg, var(--couleur-bouton3), var(--couleur-bouton4));
    transform: translateY(-10px);
}

