a {
    color: var(--couleur-lien);
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    font-size: medium; 
}

a:hover {
    color: var(--couleur-lien-hover);
}

a:visited {
    color: var(--couleur-lien-visited);
}

// a:focus {
//     outline: 5px solid var(--focus-outline-color); 
//     outline-offset: 2px;
// }

// a:active {
//     color: var(--couleur-lien-active);
// }
