
// https://chrisburnell.com/clamp-calculator/

h1{
    font-size: clamp(1.25rem, -2.656rem + 12.5vw, 4.375rem);
    // color: rgba(255, 255, 255, .5);
    // color: rgba(0, 0, 0, .5);
    font-weight: 600;
    font-style: normal;

}

h2{
    font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
    font-weight: 500;
    font-style: normal;
}

h3{
    font-size: clamp(1rem, -0.875rem + 4.333vw, 2.25rem);
    font-size: normal;
    font-weight: 500;
    font-family: 'Protest Riot', sans-serif;

}

h4 {
    font-size: clamp(1rem, -0.875rem + 3.333vw, 1.75rem);
    font-weight: 500;
    margin-bottom: 10px;
}

h5 {
    font-size: clamp(1rem, -0.875rem + 2.333vw, 1.25rem);
    font-weight: 500;
    margin-bottom: 8px;
    font-family: 'Spicy Rice', serif;


}

h6 {
    font-size: clamp(1rem, -0.875rem + 1.333vw, 1rem);
    font-weight: 500;
    margin-bottom: 6px;
    font-family: 'Spicy Rice', serif;

}


