
// https://chrisburnell.com/clamp-calculator/

h1{
    font-size: clamp(1.25rem, -2.656rem + 12.5vw, 4.375rem);
    font-weight: 700;
    font-style: normal;
}

h2{
    font-size: clamp(1rem, -1.295rem + 5.333vw, 3rem);
}

h3{
    font-size: clamp(1rem, -0.875rem + 4.333vw, 2.25rem);
}

h4{
    font-size: clamp(1rem, -0.875rem + 3.333vw, 1.75rem);
}

h5{
    font-size: clamp(1rem, -0.875rem + 2.333vw, 1.25rem);
}

h6{
    font-size: clamp(1rem, -0.875rem + 1.333vw, 1rem);
}


