:root{
    --couleur-arriere-entete: #6d88ff9a;
    --couleur-arriere-accueil: #711eb4af;
    --couleur-arriere-evenement: #ff7272;
    --couleur-arriere-galerie: #0c5bb4d0;
    --couleur-arriere-footer: #8affa4;
    
    // Niveau de transparence des h //
    --transparence-h1: .5;
        
    // Niveau de transparence section //
    --transparence-section: .1;

    // Variables de couleur //
    --couleur-h4: #333;
    --couleur-h5: #555;
    --couleur-h6: #777;

}