:root{
    --couleur-arriere-entete : #3757e9;
    --couleur-arrire-accueil : #fefefe;
    --couleur-arriere-evenement : #850000; 
    --couleur-arriere-galerie : #f5f5f5;
    --couleur-arriere-footer : #333;

}