:root{
    --couleur-arriere-entete: #6d88ff9a;
    --couleur-arrire-accueil: #fefefe;
    --couleur-arriere-evenement: #ff7272;
    --couleur-arriere-galerie: #df77ffd0;
    --couleur-arriere-footer: #8affa4;
}