.vague {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.vague svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.vague .shape-fill {
    fill: #FFFFFF;
}


.vague2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    
}

.vague2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.vague2 .shape-fill {
    fill: #FFFFFF;
}